/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
#wrap{
	width: 900px;
	margin: 0 auto;
}

/* Navigation styling */
nav{
	margin: 40px;
}
nav a{
	color: lightGray;
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
	
}

.logo{
	position: relative;
	right: -60px;
	display: inline-block;
}

/* Header styling */
header div{
	display: inline-block;
	width: 49%;
	vertical-align: center;
	height: 100%
}

header img {
	vertical-align: center;
	height: 100%

}

h1{
	font-size: 80px;
	text-align: center;
}

.button{
	text-decoration: none;
	color: black;
	padding: 2px 40px 2px;
	margin: 10px;
	margin-left: 30%;
	border: 2px solid black;
	vertical-align: middle;
}

hr{
	border: 1px solid black;
	margin-top: 60px;
}

/* Section 1 styling */
.section1 div{
	width: 49%;
	display: inline-block;
	margin-top: 20px;
}

.section1 p{
	padding-right: 10px;
}

.middle-img{
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Section 2 styling */
.section2 div {
	width: 33%;
	display: inline-block;
}

.section2 p{
	padding-right: 20px;
}

/* Contact styling */
.contact{
	padding-top: 20px;
}
.contact p{
	margin-bottom: 20px;
	padding-bottom: 10px;
}

/* Footer styling */
footer{
	text-align: center;
	padding: 30px;
}


